In [1]:
# Importing the libraries
import nltk
import sklearn
import pandas as pd
import numpy as np
import string

In [2]:
# Setting the option  to display the entire text row
pd.set_option('display.max_colwidth', -1)

In [3]:
# import the data set
df_train=pd.read_csv("train_tweets.csv",encoding="ISO-8859-1")
df_train.head()

# There are three columns
# 1: id
# 2: label (1 and 0)
# 3: tweet (text form)

df_train.head()

,id,label,tweet
0,1,0,@user when a father is dysfunctional and is so selfish he drags his kids into his dysfunction. #run
1,2,0,@user @user thanks for #lyft credit i can't use cause they don't offer wheelchair vans in pdx. #disapointed #getthanked
2,3,0,bihday your majesty
3,4,0,#model i love u take with u all the time in urð??±!!! ð???ð???ð???ð???ð??¦ð??¦ð??¦
4,5,0,factsguide: society now #motivation

In [4]:
df_train.shape
# 31962 rows and 3 columns

(31962, 3)

In [5]:
# checking the frequency distribution
df_train['label'].value_counts()
# 29720 '0'
# 2242 '1'
zeroes_cnt=df_train['label'].value_counts()[0]
ones_cnt=df_train['label'].value_counts()[1]

In [6]:
# Cleaning the data set
# creating the stop word list
# Removing rows corresponding to stop word
# Stop word removal using inbuilt and custom list
from nltk.corpus import stopwords
stop = set(stopwords.words('english'))
stop2=list(stop)
stop2.extend(['@user','@user @user','&amp;','@user @user @user','-','u','Ã¢Â€Â“',
             'Ã¢Â€Â”','Ã¢Â€Â¦','Ã¢Â†Â','Ã¢ÂÂ¤','Ã¢ÂÂ¤Ã¯Â¸Â','Ã°ÂŸÂ’Â•','Ã°ÂŸÂ’Â¦Ã°ÂŸÂ’Â¦Ã°ÂŸÂ’Â¦',
             'Ã°ÂŸÂ”Â','Ã°ÂŸÂ”Â  #love','Ã°ÂŸÂ”Â  #love  #instagood',
             'Ã°ÂŸÂ˜','Ã°ÂŸÂ˜Â€','Ã°ÂŸÂ˜Â','Ã°ÂŸÂ˜Â‚','Ã°ÂŸÂ˜Â„',
            'Ã°ÂŸÂ˜ÂŠ','Ã°ÂŸÂ˜Â','Ã°ÂŸÂ˜Â”','Ã°ÂŸÂ˜Â˜','Ã°ÂŸÂ˜Â™Ã°ÂŸÂ˜ÂŽÃ°ÂŸÂ‘Â„Ã°ÂŸÂ‘',
            'Ã°ÂŸÂ˜Â™Ã°ÂŸÂ˜ÂŽÃ°ÂŸÂ‘Â„Ã°ÂŸÂ‘  Ã°ÂŸÂ’Â¦Ã°ÂŸÂ’Â¦Ã°ÂŸÂ’Â¦','Ã°ÂŸÂ˜Â¢',
             'Ã¢Â€Â¦','!!','!!!','Ã¢Â€Â¦',        'Ã¢Â€Â¦','2','Ã°ÂŸÂ’Â¦Ã°ÂŸÂ’Â¦Ã°ÂŸÂ’Â¦',
            'Ã°ÂŸÂ˜Â™Ã°ÂŸÂ˜ÂŽÃ°ÂŸÂ‘Â„Ã°ÂŸÂ‘  Ã°ÂŸÂ’Â¦Ã°ÂŸÂ’Â¦Ã°ÂŸÂ’Â¦','Ã°ÂŸÂ˜Â™Ã°ÂŸÂ˜ÂŽÃ°ÂŸÂ‘Â„Ã°ÂŸÂ‘',
            '...','Ã¢Â†Â','4','1','3','Ã°ÂŸÂ˜ÂŠ','Ã¢ÂÂ¤Ã¯Â¸Â','.@user','#a','5',':(','Ã°ÂŸÂ˜Â','Ã¢Â€Â“',
            '..','Ã°ÂŸÂ˜Â‚','Ã°ÂŸÂ˜Â”','10','Ã°ÂŸÂ˜Â','1st','7','Ã°ÂŸÂ˜Â¢','#Ã¢Â€Â¦','6','Ã°ÂŸÂ˜Â€','Ã°ÂŸÂ˜Â˜',
              'Ã°ÂŸÂ’Â•','Ã°ÂŸÂ”Â','Ã¢ÂÂ¤','Ã°ÂŸÂ˜Â„','Ã°ÂŸÂ”Â  #love','50','2nd','8','Ã¢Â€Â”','Ã°ÂŸÂ˜','3d:',
                'ð\x9f\x98\x99ð\x9f\x98\x8eð\x9f\x91\x84ð\x9f\x91  ð\x9f\x92¦ð\x9f\x92¦ð\x9f\x92¦',
              'Ã°ÂŸÂ˜Â™Ã°ÂŸÂ˜ÂŽÃ°ÂŸÂ‘Â„Ã°ÂŸÂ‘Â…Ã°ÂŸÂ’Â¦Ã°ÂŸÂ’Â¦Ã°ÂŸÂ’Â¦'
])

In [7]:
#We need to analyse the text data stored in the 'tweet' column
# Before that lets define some key functions
# Creating functions to do tokenisation and punctuation removal

# White space tokenizer
def tokenize(text):
    tokenizer = nltk.tokenize.WhitespaceTokenizer()
    token = []
    for item in text:
        token.append(tokenizer.tokenize(item))
        
    # Removing stop words
    ls_dummy1=[]
    ls_dummy2=[]
    temp=1
    for i in token:
        ls_dummy1=[]
        for j in i:
            if j in stop2:
                temp=1
            else:
                ls_dummy1.append(j)
        ls_dummy2.append(ls_dummy1)
    l3=ls_dummy2
        
    return l3

# Creating a function for removing the puntuation from text
def rem_punctuation(data_frame,colname):
    l3=[]
    l2=[i for i in data_frame[colname]]
    l3=tokenize(l2)

    # Removing the punctuations
    l5=[]
    l6=[]
    for j in l3:
        for k in j:
            if k in string.punctuation:
                temp=1
            else:
                l5.append(k)
        l6.append(l5)
        l5=[]
    c_ls=[" ".join(i) for i in l6]
    df1=pd.DataFrame(c_ls)
    df1.columns=['Text']
    return(df1)

# We will now create a function that takes in text and ngram list
# text/document is stores in a list
# list also specifies ngram paramter
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk import word_tokenize

# The function should take the column containing text data
def TF_NGRAM(data_frame,colname,ngram):
    # Tokenize the data
    DocID_ls=[]

    #Appending the Doc_ID column
    data_frame['Doc_ID']=[i for i in range(1,data_frame[colname].shape[0]+1)]


    from nltk import ngrams       
    l1=[]
    for i in data_frame['Doc_ID']:
        for k in data_frame[data_frame['Doc_ID']==i][colname]:
            for j in ngram:
                unigrams = ngrams(k.split(), j)
                for z in unigrams:
                    if j==1:
                        l1.append(z[0])
                    elif j==2:
                        l1.append(z[0] + " , " +z[1])
                    elif j==3:
                        l1.append(z[0] + " , " +z[1]+" , " +z[2])
                    elif j==4:
                        l1.append(z[0] + " , " +z[1]+" , " +z[2] +" , " +z[3])

                    DocID_ls.append(i)

    # Creating a Data Frame out of it

    s1=pd.Series(l1)
    s2=pd.Series(DocID_ls)
    df1=pd.DataFrame(s2)
    df1['s1']=s1
    df1.columns=['Doc_ID','Tokens']
    df1
    return(df1)

In [8]:
# If you look closely, there are certain characters such as Ã°ÂŸÂ’Â¦Ã°ÂŸÂ’Â¿Ã¢ÂœÂ (row 4 for instance)
# These are meaningless and hence they need to be removed
# Removing the special character/ascii character
twt=[str(i).encode('ascii', 'ignore').decode("utf-8") for i in df_train['tweet'] ]
df_train['tweet']=twt
df_train.head()

,id,label,tweet
0,1,0,@user when a father is dysfunctional and is so selfish he drags his kids into his dysfunction. #run
1,2,0,@user @user thanks for #lyft credit i can't use cause they don't offer wheelchair vans in pdx. #disapointed #getthanked
2,3,0,bihday your majesty
3,4,0,#model i love u take with u all the time in ur??!!! ??????????????????
4,5,0,factsguide: society now #motivation

In [9]:
# removing the special characters doesnt reduce the number of records 
df_train.shape

(31962, 3)

In [10]:
# Removing punctuations, stop words etc
df=rem_punctuation(df_train,'tweet')
df.head()
df.to_csv("cleaned.csv")

In [11]:
df['Doc_ID']=range(1,df.shape[0]+1)
df.head()

,Text,Doc_ID
0,father dysfunctional selfish drags kids dysfunction. #run,1
1,thanks #lyft credit can't use cause offer wheelchair vans pdx. #disapointed #getthanked,2
2,bihday majesty,3
3,#model love take time ur??!!! ??????????????????,4
4,factsguide: society #motivation,5

In [12]:
df.shape
# So no rows were removed during punctuation and stop word removal

(31962, 2)

In [13]:
# Calculating the total number of blanks in df
#len(np.where(df['Text'].applymap(lambda x: x == ''))[0]) # 19 ff them
blnk_Doc_ID=df['Text']==""
df[blnk_Doc_ID].shape

# There are 19 Doc_ID which are blank after Removing punctuations, stop words etc

(11, 2)

In [14]:
# Storing the Doc_ID's that have blank in 'Text'
ls_blnk_Doc_ID=df[blnk_Doc_ID]['Doc_ID']
ls_blnk_Doc_ID

3982     3983
4411     4412
4799     4800
5235     5236
9034     9035
10802    10803
13038    13039
13287    13288
13862    13863
20261    20262
28513    28514
Name: Doc_ID, dtype: int32

In [15]:
# ngram frequency analysis
# checking the ngram distribution
ngram_df=TF_NGRAM(df,'Text',[1,2,3])
ngram_df.head(11)

    Doc_ID                   Tokens
0   1       father
1   1       dysfunctional
2   1       selfish
3   1       drags
4   1       kids
5   1       dysfunction.
6   1       #run
7   1       father , dysfunctional
8   1       dysfunctional , selfish
9   1       selfish , drags
10  1       drags , kids

In [16]:
# checking the number of unique 'Doc_ID' in ngram_df
len(ngram_df['Doc_ID'].unique())

31951

In [17]:
# Replace all , in Tokens with ""
import re
ngram_df['Tokens']=ngram_df['Tokens'].apply(lambda x: re.sub(',','',x))
ngram_df.head()

   Doc_ID         Tokens
0  1       father
1  1       dysfunctional
2  1       selfish
3  1       drags
4  1       kids

In [18]:
ngram_df.columns

Index(['Doc_ID', 'Tokens'], dtype='object')

In [19]:
ngram_df.shape

(687224, 2)

In [20]:
# checking the number of unique 'Doc_ID' in ngram_df
len(ngram_df['Doc_ID'].unique())

31951

In [21]:
# If we add the ones that had blanks in df (11 of them), then we would get 31951 which is the 
# total count of Doc_ID in the input data

In [22]:
# Creating a Data Frame that has 'dummy' values for all Doc_ID
#ls_blnk_Doc_ID=list(blnk_Doc_ID)

blnk_df=pd.DataFrame(df['Doc_ID'],columns=['Doc_ID'])
blnk_df['Tokens']='dummy'
blnk_df.head()

   Doc_ID Tokens
0  1       dummy
1  2       dummy
2  3       dummy
3  4       dummy
4  5       dummy

In [23]:
ngram_df.shape

(687224, 2)

In [24]:
# Binding ngram_df and blnk_df row wise
ngram_df2=pd.concat([ngram_df,blnk_df],axis=0)
len(ngram_df2['Doc_ID'].unique())

31962

In [25]:
# Creating a summary at Doc_ID and Tokens level
ngram_df2['Frequency']=1
ngram_df0=ngram_df2.groupby(['Doc_ID','Tokens'])['Frequency'].sum().reset_index()
ngram_df0.head()

   Doc_ID                     Tokens  Frequency
0  1       #run                       1
1  1       drags                      1
2  1       drags  kids                1
3  1       drags  kids  dysfunction.  1
4  1       dummy                      1

In [26]:
# Creating the summary at an overall level
freq_dist=nltk.FreqDist(ngram_df0['Tokens'])
df5=pd.DataFrame(pd.Series(freq_dist),columns=['Count'])
df5.sort_values(['Count'])
df6=df5.sort_values(['Count'],ascending=False).reset_index()
df6.shape # 827k records
df6.head()

   index  Count
0  dummy  31962
1  ???    1521
2  day    1452
3  #love  1449
4  happy  1294

In [27]:

# Filtering out the ngrams
df7=df6[df6['Count'] > 50]
df7.shape
# For the first run lets keep features identified in df7

(876, 2)

In [28]:

# Writing the tokens to a file
df7.to_csv("tokens.csv")

In [29]:

token=[i for i in df7['index']]
len(token)

876

In [30]:
# Creating the DTM
pos=[i in token for i in ngram_df0['Tokens']] # filtering on the tokens given in 'token' list
ngram_df_DTM0=ngram_df0[pos]
ngram_df_DTM0.head()

    Doc_ID  Tokens  Frequency
4   1       dummy   1
10  1       father  1
13  1       kids    1
25  2       can't   1
28  2       cause   1

In [31]:
ngram_df_DTM0.shape

(154805, 3)

In [32]:
# Pivotting df3 
ngram_df_DTM=ngram_df_DTM0.pivot(index='Doc_ID',columns='Tokens',values='Frequency').fillna(0).reset_index()
ngram_df_DTM.head()

Tokens,Doc_ID,#2016,#?,#??,#affirmation,#affirmations,#allahsoil,#altwaystoheal,#altwaystoheal #healthy,#amazing,...,year,years,yes,yet,yo,you,you!,you.,you?,young
0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [33]:
ngram_df_DTM.shape
# ngram_df_DTM has all the Doc_IDs

(31962, 877)

In [34]:
# writing the columns to a csv
clm=ngram_df_DTM.columns
np.array([clm])
#pd.DataFrame(np.array([clm]).to_csv("C:\\NLP in Python\\Sentiment Analysis Analytics Vidya\\final_features.csv")
ngram_df_DTM.to_csv("ngram_DTM.csv")

In [35]:
# dimension of ngram_df_DTM
ngram_df_DTM.shape

(31962, 877)

In [36]:

# Joining this with the 'id' column from input data frame(df_train) to bring in the labels 

# LEFT JOIN
df_final=pd.merge(ngram_df_DTM,df_train,left_on='Doc_ID',right_on='id',how='left')
df_final.shape

(31962, 880)

In [37]:
df_final.head()

,Doc_ID,#2016,#?,#??,#affirmation,#affirmations,#allahsoil,#altwaystoheal,#altwaystoheal #healthy,#amazing,...,yet,yo,you,you!,you.,you?,young,id,label,tweet_y
0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0,@user when a father is dysfunctional and is so selfish he drags his kids into his dysfunction. #run
1,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,0,@user @user thanks for #lyft credit i can't use cause they don't offer wheelchair vans in pdx. #disapointed #getthanked
2,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,0,bihday your majesty
3,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,0,#model i love u take with u all the time in ur??!!! ??????????????????
4,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5,0,factsguide: society now #motivation

In [38]:
nm=pd.DataFrame(df_final.columns,columns=['Col_Name'])
nm.to_csv("Final_Features.csv")

In [39]:
#checking the number of ones in label column
df_final['label'].value_counts()

# in the input train data, following is the 0 and 1 distribution
# 29720 '0'
# 2242 '1'

0    29720
1    2242
Name: label, dtype: int64

In [40]:
# importing libraries for building the model
# mostly it will be the functions around sklearn library
import pandas as pd
import numpy as np
import sklearn

from sklearn import preprocessing

import matplotlib.pyplot as plt 
plt.rc("font", size=14)

from sklearn.linear_model import LogisticRegression
# Feature Selection
from sklearn import datasets
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
#from sklearn.cross_validation import train_test_split

import seaborn as sns
sns.set(style="white")
sns.set(style="whitegrid", color_codes=True)

In [41]:
# Independent variable list
df_final.columns

# Removing 'dummy' column from the list
df_final2=df_final.drop(['Doc_ID','dummy','id','label','tweet_y'],axis=1)

# Storing the IV list in X
X=list(df_final2.columns)
len(X)

875

In [42]:
# Now lets run the Model
# Splitting the data into test and train
from sklearn.model_selection import train_test_split

x_train=df_final[X]
y_train = df_final['label']


# Importing Logistic regression model from sklearn
from sklearn.linear_model import LogisticRegression

# Making an instance of the model
LogisticRegr = LogisticRegression()

In [43]:
# Training the model
LogisticRegr.fit(x_train, y_train)
LogisticRegr.coef_

C:\Users\DELL\Desktop\anaconda\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

array([[ 5.56767241e-01,  7.76077977e-01, -7.29563365e-01,
        -7.48812887e-01, -4.85069848e-01,  5.16191993e+00,
        -8.82608389e-01, -5.92450973e-01, -9.49921350e-01,
        -5.68436062e-01, -8.07497218e-01, -7.66334388e-01,
        -6.84346060e-01, -1.29328008e+00, -1.37226791e-02,
        -5.23554411e-01, -1.79752235e+00,  1.41474250e+00,
        -1.42632958e+00, -1.03905474e+00, -5.85968502e-01,
        -3.48046092e-01, -8.45208541e-01, -1.35336602e+00,
        -5.46155381e-01, -6.95296181e-01, -7.97662851e-02,
        -7.97662851e-02, -1.50552643e+00, -4.57048046e-03,
        -4.51503871e-03, -4.27156124e-01, -8.09488793e-01,
        -1.49524303e+00, -1.07401578e-01, -1.03225983e+00,
        -9.72591874e-01, -7.90779532e-02, -7.90779532e-02,
        -7.90779532e-02, -1.12290530e+00, -7.93394750e-01,
        -1.69472246e+00, -1.55860465e+00, -1.06342004e+00,
        -5.57227051e-01, -6.45423050e-01, -5.94323823e-01,
        -1.58579808e+00, -1.00327097e+00, -1.09168677e+00,
        -8.17977068e-01, -6.15408135e-02, -4.75317725e-01,
        -3.19725892e-01, -6.87906684e-01, -1.60662620e+00,
        -6.94186387e-01, -1.21738367e-01, -1.52109624e+00,
        -1.64326857e+00, -1.12948564e+00, -2.89466335e-01,
        -1.21666676e+00, -7.30674957e-01, -7.15537130e-01,
        -2.86870083e-01, -6.27818479e-01, -8.12037405e-01,
        -1.31688992e+00, -3.33090371e-01, -4.87510041e-01,
        -7.04618289e-01, -1.56909281e+00, -9.00287274e-01,
         2.33368269e+00, -6.19670328e-01, -8.99137057e-01,
        -2.05567962e+00, -7.94235275e-01, -3.97058930e-01,
        -7.97662851e-02, -4.14345214e-01, -8.72590845e-01,
        -4.21064725e-01, -4.21064725e-01, -4.21064725e-01,
        -1.06888937e+00, -1.07496702e+00, -2.17735017e-02,
        -3.55081897e-03, -8.24080888e-01, -7.29447548e-01,
        -2.18236402e-01,  4.91687022e-01,  7.94368593e-01,
         1.39756389e-01,  1.95598838e+00,  1.39756389e-01,
         1.39756389e-01, -1.50816358e+00, -4.94685888e-01,
        -1.67724333e-01, -7.90779532e-02, -8.68036396e-01,
        -2.52101035e-01, -8.79869695e-01, -1.42828314e+00,
        -1.77736759e-02, -1.31002905e-02, -6.93320070e-01,
        -4.52457234e-01, -2.77030099e-02, -5.21559513e-03,
        -3.69801011e-01, -4.99069785e-01, -1.86542747e-01,
        -1.86542747e-01, -8.04854465e-01, -5.22823854e-01,
        -1.71525185e+00, -1.32693655e+00, -1.02955828e+00,
        -2.85705137e-01, -9.59665416e-01,  8.95438164e-01,
        -5.91149882e-01, -2.22818650e+00, -1.04698886e+00,
        -8.21067503e-01,  1.10176589e+00, -4.39192339e-02,
        -7.85976788e-01, -1.08018113e+00, -5.19160703e-01,
        -3.55081897e-03, -3.55081897e-03, -5.69525850e-01,
         2.39939586e+00, -4.09077472e-01, -1.91131815e+00,
        -6.58036704e-01, -1.53724955e+00, -1.35943155e+00,
        -1.16617435e+00, -9.57241379e-01, -7.93862492e-01,
         1.02214036e+00, -8.49539097e-01, -3.85584521e-01,
        -1.11705196e+00, -6.47971485e-01, -6.76452566e-02,
        -5.32728773e-01, -7.97662851e-02, -7.97662851e-02,
        -7.94327629e-01, -3.48046092e-01, -2.86870083e-01,
         1.31625657e+00,  1.39756389e-01,  1.39756389e-01,
        -4.26509371e-01, -1.94726826e+00, -8.14566497e-01,
        -1.01691942e+00, -1.76186237e+00, -7.92383113e-01,
        -1.12995457e+00, -5.98531009e-01, -7.64652422e-01,
        -2.26986296e-02, -3.97299567e-03, -1.19987057e+00,
        -1.13561644e+00, -5.57126247e-01, -8.87645463e-01,
        -9.23983624e-01, -7.76047840e-01, -1.30186245e+00,
         2.92529468e+00,  1.07393395e-01,  9.80904923e-01,
        -9.18272967e-01, -1.29844778e+00, -1.18801728e+00,
        -1.12170482e-01, -5.22903025e-01, -8.84552003e-01,
        -5.80360533e-01, -1.84843812e-01,  1.11701185e+00,
        -1.49982875e+00, -9.56132608e-01, -6.48919759e-01,
        -5.09245556e-02, -2.71690810e-03, -8.94230295e-01,
        -6.27222230e-01, -1.45531062e+00, -1.44132868e+00,
        -1.44989866e+00, -1.46235050e+00, -8.86330126e-01,
        -1.17369926e+00, -9.67756271e-01, -1.49892367e+00,
        -1.06372533e+00, -1.13503060e+00, -5.79188143e-01,
         2.08639123e+00, -6.35509517e-01, -2.60748586e-01,
        -2.60748586e-01, -2.60748586e-01, -4.92099441e-01,
        -4.76921141e-01,  6.60465406e-01, -6.69300774e-01,
        -1.55570654e+00,  7.98009348e-01, -8.52299892e-01,
        -1.74684530e-02, -1.74684530e-02, -5.76355761e-01,
         1.65791802e-01, -3.21535399e-01, -6.71850320e-01,
        -1.17292862e-01,  6.91817360e-01, -5.56915061e-01,
        -1.17292862e-01, -7.86134304e-01, -8.38175200e-01,
        -5.52540119e-01, -1.71299059e-01, -1.71299059e-01,
         3.05697381e-01, -8.53778448e-01,  9.81930486e-02,
        -9.86894428e-01, -4.02183613e-01, -5.88966181e-01,
        -3.49369060e-02, -1.74684530e-02, -1.74684530e-02,
        -1.74684530e-02, -1.74684530e-02, -1.35190727e+00,
        -1.16198301e-01, -6.56824043e-01, -7.92370874e-02,
        -9.85005744e-01,  9.15041164e-02, -3.04389589e-01,
        -2.54370241e+00, -3.56800435e-01, -3.42598119e-01,
        -1.71299059e-01, -1.15175621e+00,  7.80233079e-01,
         1.53072584e+00, -5.60587462e-01, -3.42598119e-01,
        -1.71299059e-01, -1.71299059e-01,  3.66457245e-01,
        -8.63694922e-01, -5.50005088e-01, -9.23461867e-02,
        -9.67252458e-01,  1.06262629e+00, -2.88425642e-01,
        -2.88425642e-01, -2.88425642e-01, -2.88425642e-01,
        -1.02849531e+00, -6.75423772e-02, -6.75423772e-02,
        -1.17292862e-01, -1.17292862e-01, -1.67058745e-01,
        -1.67058745e-01, -6.75423772e-02, -6.75423772e-02,
         9.63430585e-01,  1.96962441e-02,  1.48313552e+00,
         5.75267577e-01, -6.49178115e-03, -2.20452719e-01,
        -7.75131178e-02, -7.30205225e-01, -5.31630673e-01,
        -2.25346615e-01, -5.51208282e-01, -6.05524354e-01,
        -7.23538099e-01, -1.22784127e-01, -7.27477601e-01,
         4.88425293e-01, -6.02482297e-02, -4.32505050e-01,
         1.36268754e-01, -6.00919828e-01, -1.74684530e-02,
        -1.74684530e-02, -1.74684530e-02, -1.74684530e-02,
        -1.67058745e-01, -1.67058745e-01, -1.67058745e-01,
         3.44592637e-01, -4.77183603e-01, -1.53867329e-02,
        -4.05202089e-01,  1.34455989e-02, -7.52804874e-01,
        -1.84057160e-01, -1.67058745e-01, -1.67058745e-01,
        -1.51404313e-01, -6.20049938e-01, -3.75914575e-01,
         4.76313184e-01, -4.65549359e-01,  1.37097235e-01,
        -1.20627924e-01, -1.20627924e-01, -1.12170482e-01,
        -1.25351298e+00, -3.45494176e-01, -6.10352179e-01,
         1.50733015e-01, -4.56754433e-01, -9.23506019e-01,
        -1.99017977e+00, -1.24837662e+00, -1.24521470e+00,
        -1.84643911e+00, -4.44701610e-01,  6.48510966e-01,
         3.11069233e-01,  1.26084586e+00, -1.09173408e-01,
        -1.09173408e-01,  3.48919430e-01, -3.34173177e-01,
        -6.75423772e-02, -6.75423772e-02, -8.03073746e-01,
        -1.16001339e+00, -6.75423772e-02, -6.75423772e-02,
        -6.75423772e-02, -4.17592231e-04, -5.34345170e-02,
        -9.37125566e-01, -2.83258221e-02, -1.06930179e+00,
        -1.06877753e+00, -9.08500312e-01, -1.17292862e-01,
        -1.17292862e-01,  4.81498110e-01, -9.68278043e-01,
        -1.10825524e+00,  1.00080730e+00, -3.83491184e-01,
        -2.60748586e-01, -2.60748586e-01, -4.17612299e-01,
        -2.39539175e-01,  3.65708717e-01,  2.20502806e-02,
        -4.69856221e-02, -7.31719745e-03, -1.90688838e+00,
         6.21256665e-01, -1.02502486e+00, -6.79815080e-01,
        -6.03891562e-03,  8.09218553e-02, -3.73522692e-01,
        -1.44415688e+00, -3.18529257e-01, -6.31458596e-01,
        -3.45803252e-01, -5.46125495e-01, -8.15978968e-01,
        -5.53024395e-01,  5.92645214e-01, -1.37855270e+00,
        -9.73808155e-01, -1.25094031e+00, -1.09748953e-01,
        -1.09173408e-01, -1.57504973e-01, -1.09173408e-01,
        -1.09173408e-01, -8.91239257e-01, -1.06586106e+00,
        -6.32809578e-01, -7.55202040e-01, -1.04544345e+00,
         3.47798615e-01, -8.69000967e-01, -5.26418403e-01,
        -1.09173408e-01, -1.09173408e-01, -2.40869943e-01,
        -1.51536630e+00, -5.13278747e-01, -6.53894146e-01,
         1.31378121e+00,  3.32838322e-01, -7.32244795e-01,
        -3.37750533e-01, -1.90391056e-01,  4.05448470e-02,
        -1.17292862e-01, -1.17292862e-01, -1.83740112e-01,
        -7.97662851e-02, -5.20426631e-01, -1.09243973e-01,
        -7.97662851e-02,  1.11847848e+00, -1.53996362e+00,
        -7.24128144e-01,  3.63636255e-01,  6.85661748e-01,
         2.98233975e-01, -1.55374373e-01, -6.11729233e-01,
        -2.41910972e-01, -5.35483558e-01, -2.96109263e-01,
        -5.47026494e-01,  9.39068469e-02, -1.71299059e-01,
        -1.71299059e-01, -4.00856438e-01,  1.89106596e-01,
        -2.60748586e-01, -2.60748586e-01, -5.45771482e-01,
        -5.10956710e-01,  3.33323090e-02, -4.09113224e-01,
        -1.71141067e+00,  5.64089746e-01, -6.00256277e-01,
         1.24830660e-01, -2.63439757e-01, -1.25073143e+00,
        -1.54420357e+00, -6.70041880e-02, -4.58406643e-02,
        -1.04210826e-02, -8.71049139e-01, -2.68609781e-01,
        -2.10106156e+00,  5.56414630e-01,  1.62132282e-01,
        -1.32173697e+00, -2.89278919e-01, -1.17292862e-01,
        -1.17292862e-01, -4.04825940e-01, -1.51910912e-01,
        -1.00070733e-01,  9.40231189e-02,  1.61367563e-01,
        -7.97662851e-02, -7.97662851e-02, -9.23308480e-02,
        -1.30225264e+00, -4.54822885e-01, -1.67058745e-01,
        -1.67058745e-01, -7.57248843e-01,  4.59951765e-01,
        -7.19362953e-01, -2.64602128e-01, -2.88425642e-01,
        -3.57879926e-02, -1.21427187e+00, -5.30068293e-01,
        -1.25757989e+00,  4.96330881e-01,  3.95718173e-01,
        -8.91338568e-01, -3.49605346e-01, -3.33090371e-01,
        -3.33090371e-01, -2.32340718e-03,  1.39756389e-01,
         1.39756389e-01,  1.39756389e-01, -1.86093279e-01,
         4.61988136e-01, -4.36615231e-01,  1.03412885e-02,
         6.04152804e-01, -5.05528910e-01, -1.35765232e+00,
         4.25816607e-01, -2.09939304e-01, -7.42011193e-02,
        -1.56411743e+00,  3.81848404e-01, -7.39027685e-01,
        -8.88952454e-01, -7.05600997e-01,  2.15913667e+00,
         4.73606753e-01, -1.20627924e-01, -1.20627924e-01,
        -1.66668966e-01,  2.70211397e-01, -3.34567420e-01,
         4.80383979e-01,  5.22141705e-01, -2.82451406e-01,
         2.93645256e-02,  1.39756389e-01,  1.39756389e-01,
        -1.44492126e+00, -1.06661797e+00,  9.14687650e-02,
         4.58647878e-01,  2.28238722e+00, -1.01832846e+00,
        -9.11288409e-02,  3.65629069e-01, -3.87736500e-01,
        -1.74684530e-02, -1.53867329e-02, -6.59431161e-01,
        -5.29777071e-01,  3.00754798e-01, -9.29315061e-01,
        -6.50364916e-01, -5.79417577e-01,  5.34726314e-01,
        -1.43563533e-01, -3.27275385e-01, -1.19697465e+00,
        -1.86542747e-01, -1.86542747e-01, -1.15981618e+00,
        -4.43129754e-01, -9.83761150e-02, -1.48463536e-01,
        -5.08648492e-01, -2.79593651e-01, -7.88584677e-01,
         3.27753418e-01,  3.42840033e-02,  9.13826379e-01,
        -2.69757529e-01,  4.63740408e-01, -3.81355094e-01,
         6.68231618e-01,  3.55073999e-02, -4.41583104e-01,
        -1.02890307e+00,  1.37176494e+00,  7.43361374e-02,
        -1.09173408e-01, -1.09173408e-01,  1.39756389e-01,
         1.39756389e-01, -4.77804222e-01, -4.54828286e-01,
        -1.07321580e-01, -1.07321580e-01, -5.09220247e-01,
        -4.77812109e-01, -1.99135578e+00, -1.30608751e+00,
        -1.10556560e+00, -6.69399973e-01, -1.31307374e+00,
        -5.59945072e-01, -1.89378587e+00, -3.55910550e-01,
        -7.80881561e-01, -2.18588669e-01, -3.32840137e-01,
         1.35431510e-01, -9.61318542e-02, -5.32252653e-01,
         1.92301590e-01, -2.60748586e-01, -2.60748586e-01,
        -2.60748586e-01, -2.42981385e-01,  1.31643358e-01,
         2.25893339e-02,  4.66915075e-02,  1.42910384e-01,
        -3.59594527e-01,  3.34291267e-01, -7.93411070e-01,
        -1.53025739e+00,  2.13261836e-01, -3.98743107e-01,
         1.71770474e+00, -2.78508309e-01, -3.91994531e-01,
        -8.61881278e-01, -1.09173408e-01, -1.09173408e-01,
        -6.33813684e-01, -1.03058538e-01, -2.98688617e-01,
        -8.50747621e-01, -2.85291420e-01, -1.12170482e-01,
        -1.12170482e-01, -1.40337892e+00, -2.26538875e-01,
         4.37053960e-01,  4.63962388e-01, -6.47596822e-01,
        -1.16169837e-01, -4.84966424e-01,  4.61462996e-01,
        -3.23967380e-01, -9.97628385e-01, -5.33270793e-02,
        -2.09137769e-01, -1.15969405e+00,  2.97999985e-01,
        -1.94719583e-01, -1.87065768e-01, -1.13648685e-01,
        -3.49369060e-02, -1.74684530e-02,  1.01282269e+00,
         8.71472534e-02,  3.09868376e-01, -4.73632202e-02,
        -9.60382513e-01, -2.07362075e-01,  3.51880653e-01,
        -3.72120609e-01,  9.17390273e-02,  2.23192544e+00,
        -1.15809087e-01, -1.74684530e-02, -1.74684530e-02,
        -1.74684530e-02, -1.74684530e-02, -1.74684530e-02,
         2.34357456e+00, -4.71462564e-01, -1.67058745e-01,
        -1.67058745e-01, -9.19621753e-01,  2.61007086e-01,
         4.85984504e-01, -1.90406779e+00,  3.61247886e-01,
        -4.19992344e-01,  9.11634776e-01, -1.17292862e-01,
         1.69820768e-02, -2.36499649e-01, -6.71414757e-02,
        -3.13950795e-01, -9.24504478e-01,  2.90014991e-01,
         3.44523988e-01, -1.20430743e+00,  4.12711630e-01,
        -7.85673027e-01,  3.12838157e-01,  1.04207564e+00,
         1.16477457e+00,  4.79968995e-01, -1.41890084e+00,
        -4.99422345e-01, -9.80802196e-01,  4.58778012e-01,
        -4.41022021e-01,  2.43645718e-01, -9.92420335e-01,
        -4.17162343e-05, -5.34850386e-02, -1.13989607e-01,
        -8.96716877e-01,  3.19970635e-01, -1.19222837e+00,
        -6.42315129e-01, -2.88425642e-01, -2.88425642e-01,
        -2.60748586e-01, -2.60748586e-01, -2.60748586e-01,
        -6.93429222e-01,  4.66342791e-02, -7.94037214e-01,
        -1.46484584e+00, -1.49115268e-01, -8.80019694e-01,
        -1.20629964e+00, -8.11336079e-01, -8.72709127e-01,
        -3.48756093e-01,  2.70186445e-01, -8.76329841e-01,
        -7.38995756e-01, -9.83304742e-01, -3.69677588e-01,
        -3.79045587e-01, -2.02094675e-01,  8.09878111e-01,
        -4.55948716e-01, -7.61969119e-01, -1.19636866e+00,
        -9.13506090e-01, -1.05710595e+00, -4.38145436e-01,
        -1.01989129e-01, -5.69879382e-01, -1.67058745e-01,
         5.09982030e-02, -3.38226007e-01, -1.86542747e-01,
        -2.88425642e-01, -2.88425642e-01, -5.76685191e-03,
        -1.07336515e+00, -2.84603017e-01,  5.44028024e-01,
         1.63358505e+00, -1.67058745e-01, -1.67058745e-01,
        -1.75345922e-01, -1.67058745e-01,  4.45619866e-01,
        -5.38612119e-01, -2.42981385e-01,  1.33699549e-01,
        -4.71947909e-01, -9.58261722e-01,  5.76717197e-03,
         1.41622919e-01, -1.88916301e-01,  7.36164238e-02,
         2.69982734e-01, -1.32999379e+00,  2.29202789e-01,
        -1.17292862e-01, -1.17292862e-01,  8.44766379e-01,
        -5.31678607e-01, -3.19774121e-01, -1.23287273e+00,
        -3.16466407e-01, -6.80178483e-01, -1.86542747e-01,
        -1.86542747e-01,  3.49999767e-02,  8.57498922e-02,
        -1.40276446e+00, -2.05239466e+00, -7.03202692e-01,
        -1.35120962e+00,  4.72635731e-01, -1.79386301e+00,
        -9.06250087e-01, -1.21780117e+00, -8.21446005e-02,
        -3.55081897e-03, -3.11956748e-03, -1.06280177e+00,
         1.09998724e-01,  2.24875947e-01,  8.93394112e-01,
        -5.56448996e-01,  1.83335776e-01, -6.39526397e-01,
         2.66298404e-01, -1.21116171e-01, -1.09173408e-01,
        -1.09173408e-01, -1.42875955e-01, -9.34312179e-01,
        -4.66789992e-01, -6.75423772e-02, -6.75423772e-02,
        -6.75423772e-02, -1.18849549e+00, -4.01433223e-01,
        -1.86542747e-01, -1.86542747e-01,  2.53888811e-01,
         4.98414555e-01, -2.93342835e-01, -2.61498062e-01,
        -1.09173408e-01, -1.07401578e-01, -2.63379887e-01,
         7.10972878e-01, -2.88425642e-01, -2.88425642e-01,
        -2.88425642e-01, -3.74179981e-01,  8.74829425e-01,
        -1.08751818e+00,  2.40184105e-01, -4.23866426e-01,
         6.59387228e-02, -1.37997207e+00, -3.56810110e-01,
        -4.66863341e-01,  1.11559990e-01, -4.15442745e-01,
        -9.28725823e-02, -1.25081321e-01,  2.53071955e-01,
        -7.17186476e-01, -1.21666426e+00, -5.27371556e-01,
        -1.09173408e-01, -1.09173408e-01,  7.65032195e-01,
        -7.60056714e-01, -1.21815431e+00, -1.60393925e+00,
        -7.26883314e-01,  9.44366955e-02, -4.49378251e-01,
        -1.09173408e-01, -1.07401578e-01, -6.31776878e-01,
        -5.50398763e-01, -1.15233262e+00, -6.75423772e-02,
        -6.75423772e-02,  2.72551059e+00, -2.29620613e-01,
         3.44225897e-01,  3.34959354e-02, -7.55108075e-01,
         3.69069689e-02,  1.69382306e+00,  1.72423540e+00,
        -3.51563147e-01,  1.20272465e+00,  2.20953381e-01,
        -4.44371976e-01, -3.13683301e-01, -6.78365404e-01,
         5.50035914e-01, -2.42993493e-01, -4.40413272e-02,
        -8.35925206e-01, -8.11759126e-03, -1.71299059e-01,
        -1.71299059e-01,  3.48752553e-01,  1.18956619e-01,
        -6.02344019e-01, -3.31432218e-01, -1.64813862e-01,
        -3.13363600e-01, -1.07320976e+00, -7.74137389e-01,
         7.33392093e-01, -5.49078693e-01]])

In [44]:
# Make predictions on the train data set
prediction_reg=LogisticRegr.predict(x_train)

In [45]:

# Lets measure the score
score = LogisticRegr.score(x_train, y_train)
print(score)

# score is nothing but the accuracy

0.94574807584006

In [46]:
# Confusion Matrix
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics

y_train.shape
prediction_reg.shape

cm = metrics.confusion_matrix(y_train, prediction_reg)
print(cm)

[[29574   146]
 [ 1588   654]]

In [47]:
# Accuracy
acc=(cm[0][0] + cm[1][1])/(cm[0][0]+cm[0][1]+cm[1][0]+cm[1][1])
acc

0.94574807584006

In [48]:
# Senstivity
sens=cm[1][1]/(cm[1][1]+cm[1][0])
sens

0.29170383586083853

In [49]:
# Specifisity
spec=cm[0][0]/(cm[0][0]+cm[0][1])
spec

0.9950874831763122

In [50]:
# Precision
prec=cm[1][1]/(cm[1][1]+cm[0][1])
prec

0.8175

In [51]:
# Recall: Same as Specifisity
rec=spec
rec

0.9950874831763122

In [52]:
# F1 Score
(2*prec*rec)/(prec+rec)

0.8975942127451034

In [53]:

# The value of F1 Score on Train data is around 0.89

In [54]:
# Lets try and calculate the value on test data
# importing test_DTM.csv file
test_df=pd.read_csv("test_DTM.csv")
test_df.head()

,Unnamed: 0,Doc_ID,#2016,#?,#??,#affirmation,#affirmations,#allahsoil,#altwaystoheal,#altwaystoheal #healthy,...,yes,yet,yo,you,you!,you.,you?,young,id,tweet_y
0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
1,1,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
2,2,3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
3,3,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
4,4,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN

In [55]:
# Creating the x_test
test_df.columns

Index(['Unnamed: 0', 'Doc_ID', '#2016', '#?', '#??', '#affirmation',
       '#affirmations', '#allahsoil', '#altwaystoheal',
       '#altwaystoheal  #healthy',
       ...
       'yes', 'yet', 'yo', 'you', 'you!', 'you.', 'you?', 'young', 'id',
       'tweet_y'],
      dtype='object', length=880)

In [56]:
# Removing 'Unnamed: 0' and 'Doc_ID' column
pos=[i not in ['Unnamed: 0','Doc_ID','dummy','id','label','tweet_y'] for i in test_df.columns ]
x_test=test_df[test_df.columns[pos]]
x_test.shape

(17197, 875)

In [57]:
# Running them Model on x_test
# Make predictions on the train data set
prediction_reg=LogisticRegr.predict(x_test)
prediction_reg[0:7]

array([0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [58]:
pos=[i == 1 for i in prediction_reg]
sum(pos) # Total tweets labelled as 1 are 438

438

In [59]:
Test_complete=pd.concat([test_df['Doc_ID'],pd.DataFrame(list(prediction_reg))],axis=1)
Test_complete.head()

   Doc_ID  0
0  1       0
1  2       0
2  3       0
3  4       0
4  5       0

In [60]:
test_df.shape

(17197, 880)

In [61]:
Test_complete.columns=['Doc_ID','label']
Test_complete.head()

   Doc_ID  label
0  1       0
1  2       0
2  3       0
3  4       0
4  5       0

In [62]:
# Removing the Doc_ID as this is not required for submission
Test_complete2=Test_complete.drop(['Doc_ID'],axis=1)
Test_complete2.head()

   label
0  0
1  0
2  0
3  0
4  0

In [63]:
# Writing it back to the folder 
Test_complete2.to_csv("test_predictions.csv")